.recipes_header_layout {
  padding-top: 60px;
}

.column_layout {
  display: flex; 
  width: 100%;
}

.mains,
.sides,
.desserts {
  flex: 1;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #36454F;
  padding-top: 40px; 
  padding-bottom: 40px; 
}

button {
    padding: 5px; 
    font-size: 20px; 
}

.recipe-form {
    font-size: 20px; 
    
}

textarea {
    font-size: 20px; 
}

