.search_page {
  text-align: center;
  font-family: "Times New Roman", serif;
  padding: 40px;
}

.search_page h1 {
  color: #36454F;
  font-size: 38px;
}

.search_types {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 25px 0;
}

.search_types button {
  font-family: "Times New Roman", serif;
  font-size: 18px;
  padding: 12px 20px;

  border: 2px solid #B76B7D;
  border-radius: 20px;

  background: #F2EEE9;
  cursor: pointer;
}

.search_types button:hover {
  transform: scale(1.05);
}

.active_search {
  background: #B76B7D !important;
  color: #F2EEE9;
}

.search_input {
  width: 60%;
  max-width: 500px;

  padding: 14px;
  font-size: 18px;
  font-family: "Times New Roman", serif;

  border: 2px solid #B76B7D;
  border-radius: 20px;

  outline: none;
}

.search_results {
  max-width: 600px;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recipe_result {
  display: block;

  padding: 15px 20px;

  background: #F2EEE9;
  border: 2px solid #B76B7D;
  border-radius: 12px;

  color: #36454F;
  font-size: 20px;

  text-decoration: none;
}

.recipe_result:hover {
  transform: scale(1.02);
}