html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #D1E7B3;
}

body {
  background-color: #D1E7B3;
}

.app {
  min-height: 100vh;
  background-color: #D1E7B3;
}

.home_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;

  padding-top: 0px;
  padding-bottom: 10px;
}

.hat {
  width: 200px;
  height: auto;
}

.header_text {
  padding-top: 70px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_text h1 {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 65px;
  color: #36454F;
}

.header_text p {
  margin: 8px 0 0;
  font-size: 19px;
}

.cookie {
  padding-left: 40px; 
  font-size: 80px;
}

.emoji_container {
  display: flex;
  width: max-content;

  font-size: 38px;

  animation: scroll 25s linear infinite;

  padding-top: 20px;
  padding-bottom: 35px;
}

.emoji_row {
  display: flex;
  gap: 45px;
  white-space: nowrap;
  padding-right: 45px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.daily_recipe {
max-width: 650px;
margin: 0 auto 40px;
padding: 25px;
background: #F2EEE9;
border: 2px solid #B76B7D;
border-radius: 20px;
}

.daily_recipe h2 {
margin-top: 0;
font-size: 35px;
}

.daily_recipe p {
margin-bottom: 0;
font-size: 18px;
}

.home_navigation {
max-width: 1000px;
margin: 0 auto 50px;
display: flex;
justify-content: center;
gap: 25px;
padding: 0 30px;
}

.home_card {
flex: 1;
min-height: 220px;
padding: 25px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

background: #F2EEE9;
border: 2px solid #B76B7D;
border-radius: 20px;

color: #36454F;
text-decoration: none; 
}

.home_card {
transform: scale(1.04);
background: #B76B7D;
color: #F2EEE9;
}

.card_emoji {
font-size: 45px;
}

.home_card h2 {
margin: 10px 0;
font-size: 35px;
color: #F2EEE9;
text-decoration: none; 
}

.home_card p {
margin: 0;
font-size: 17px;
}

.substitutes {
max-width: 650px;
margin: 0 auto;
padding: 25px;

background: #F2EEE9;
border: 2px solid #B76B7D;
border-radius: 20px;
}